.idea/
.venv/
Library/*
config.py
config.json
.env
testcases/sponsored_purchase/testfiles/
*.pyc
/report/
/resources/
/aQA/fixtures/
*pocket.app
*pouch.app
*pocket.apk
*pouch.apk
/progress/
/completion/
/logs/
/.python-version
