[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openpyxl = "*"
datedelta = "*"
pyvirtualdisplay = "*"
psycopg2-binary = "*"
# misc
python-dateutil = "*"
pytz = "*"
httpie = "*"
appium-python-client = "*"
pytest = "*"
paramiko = "*"
sshtunnel = "*"
webdriver-manager = "*"
behave-webdriver = "*"
behave = "*"
pytest-xdist = "*"
selenium = "==4.18.0"
sendgrid = "*"
pillow = "*"
urllib3 = "*"
pytest-rerunfailures = "*"
pytest-html = "==3.2.0"
pyotp = "*"
libimobiledevice = "*"
gtts = "*"
gradio-client = "*"
openai = "*"
py3-tts = "*"
boto3 = "*"
google-generativeai = "*"
torch = "==2.1.0"
numpy = "==1.26.4"
pandas = "*"
pytube = "*"
moviepy = "*"
scipy = "*"
beautifulsoup4 = "*"
soundfile = "*"
ipython = "*"
polyglot = "*"
pycld2 = "*"
googletrans = "*"
fasttext = "*"
alembic = "*"
sqlalchemy = "==1.4.46"
marshmallow = "*"
pydub = "*"
ffmpeg-python = "*"
pymusiclooper = "*"
opencv-python = "*"
requests = "*"

[requires]
python_version = "3.9"
