[Unit]
Description=Automation Test For VENTA
#OnFailure=unit-status-mail@%n.service

[Service]
# oneshot services can have multiple ExecStart lines
Type=oneshot
User=autoarmour
PIDFile=/var/run/autoarmour/auto-test-venta-daily.pid
WorkingDirectory=/opt/autoarmour/assurance
ExecStartPre=/bin/mkdir -p /var/run/autoarmour
ExecStartPre=/bin/chown autoarmour:autoarmour /var/run/autoarmour
ExecStart=/opt/autoarmour/assurance/cron/scripts/automation_venta.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=auto-test-venta-daily
