[Unit]
Description=Automation Test For Essentials
#OnFailure=unit-status-mail@%n.service

[Service]
# oneshot services can have multiple ExecStart lines
Type=oneshot
User=jarvis
PIDFile=/var/run/jarvis/auto-test-essential-daily.pid
WorkingDirectory=/opt/gigacover/assurance
ExecStartPre=/bin/mkdir -p /var/run/jarvis
ExecStartPre=/bin/chown jarvis:jarvis /var/run/jarvis
ExecStart=/opt/gigacover/assurance/cron/scripts/automation_essential.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=auto-test-essential-daily
